
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: 'bentho';
	background: url(imagenes/potato.png) height: 500px;;
	background-repeat: no-repeat; 
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
	image-rendering: {
		max-width: 100%
	}
}
.epa{
	width: 80%;
	background: #87CEFA;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.epa{
    color: #fff;
	font-size: 34px;
	font-weight: 200;
	text-align: center;
}
.form_register{
	width: 80%;
	max-width: 500px;
	margin: auto;
	background: #00CED1;
	border-radius: 7px;
	font-size: 25px;
}
.form_titulo{
	background: #67c8c0;
	color: #fff;
	padding: 15px;

	text-align: center;
	font-weight: 100;
	border-radius: 7px;
	font-size: 30px;
}
/*Slider de la pagina(imagenes de arriba "Ela rompiendo barreras")*/

body{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
}
img{
	max-width: 100%;
	align-items: center;
	align-content: center;
}
.container-all{
	position: relative;
	max-width: 900px;
	width: 100%;
	border-radius: 6px;
	overflow: hidden;
}
.slide{
	display: flex;
	transform: translate3d(0, 0, 0);
	transition: all 600ms;
	animation-name: autoplay;
	animation-duration: 6.5s;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}
.item-slide{
	position: relative;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	flex-grow: 0;
	max-width: 100%;
}
.pagination{
	position: absolute;
	bottom: 20px;
	left: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.pagination-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid white;
	width: 18px;
	height: 18px;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
	background: rgba(255, 255, 255);
	margin: 0 10px;
	text-align: center;
	transition: all 300ms;
}
.pagination-item:hover{
	transform: scale(2);
}
.pagination-item img{
	display: inline-block;
	max-width: none;
	height: 100%;
	transform: scale(1);
	transition: all 300ms;
}
.pagination-item:hover img{
	opacity: 1;
	transform: scale(1);
}
input[id="1"]:checked ~ .slide{
	animation: none;
	transform: translate3d(0, 0, 0);
}
input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
	background: #fff;
}
input[id="2"]:checked ~ .slide{
	animation: none;
	transform: translate3d(calc(-100% * 1), 0, 0);
}
input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
	background: #fff;
}
input[id="3"]:checked ~ .slide{
	animation: none;
	transform: translate3d(calc(-100% * 2), 0, 0);
}
input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
	background: #fff;
	/*Parte de abajo, soporte*/	
}
#info {
	background: #87CEFA;
	color: #fff;
	text-align: center;
	padding: 20px;
}
#info .contenedor {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.ela {
	margin: 20px;
}
.ela img {
width: 150px;
height: 150px;
border-radius: 50%;
border: 7px solid;
}