*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.form_register{
	width: 95%;
	max-width: 500px;
	margin: auto;
	background: #FFC325;
	border-radius: 7px;
	font-size: 25px;
}
.form_titulo{
	background: #FFBC66;
	color: #fff;
	padding: 15px;

	text-align: center;
	font-weight: 100;
	border-radius: 7px;
	font-size: 30px;
}
.contenedor-inputs{
	padding: 10px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
input {
	margin-bottom: 15px;
	padding: 15px;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid gray;
}
.input-48{
	width: 48%;
}
.input-100{
	width: 48%;
}
.input-48{
	width: 48%;
}
.input-100{
	width: 100%;
}
.input-48{
	width: 48%;
}
.input-32{
	width: 10%;
}
/*COMBOBOX*/
.dropdown{
	width: 30rem;
}
.dropdown-select{
	padding: 1.5rem;
	border-radius: 4px;
	background-color: #FFBC66;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.3rem;
	cursor: pointer;
}
.dropdown-list{
	border-radius: 4px;
	background-color: white;
	position: absolute;
	top: 110%
	left: 0;
	right: 0;
}
.dropdown-list_item{
	padding: 1rem;
	font-size: 1.4rem;

}
